.container-fluid{
  color: aliceblue;
  margin: 10px;
}
.navigation{
  margin: 10px;
}
.res-side{
  display: flex;
  margin: 10px;
  margin-right: 150px;
}
.nav-link{
  margin-bottom: 20px;
}
.nav-link i {
  align-items: flex-start;

}